.card {
    display: flex;
    background-color: #fd8f00;
    border-radius: 1rem;
    padding: 2rem;
    width: 600px;
    margin-bottom: 2rem;
    box-shadow: rgb(0, 38, 255) 0px 7px 29px 0px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .card:hover {
    opacity: 3;
  }
  
  .card:hover h1 {
    text-decoration: underline;
  }
  
  .text-area {
    text-align: left;
  }
  