.App{
  text-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Titulo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgb(255, 119, 0);
  margin-bottom: 3rem;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 0;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 100%;
  }

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
